.splash-container {
  background-color: #33cccc; /* via photoshop */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.splash-logo {
  width: 160px;
  margin-bottom: 20px;
}

.splash-subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
  max-width: 80%;
}
